<fieldset>

  <legend><%= department.latest_budget&.year %> Budget</legend>
  <ul>
    <% department.latest_budget&.line_items&.each do |line_item| -%>
      <li>
        <%= line_item.name %> : <%= currency line_item.amount %>
      </li>
    <% end %>
  </ul>
  </div>
</fieldset>
