<h1><%= @state.name %> Budget</h1>
<div style="width: 400px; height: 300px; border: 1px solid black">
  State budget placeholder
</div>

<ul>
  <% @state.counties.each do |county| -%>
    <li><%= link_to county.name, county %></li>
  <% end %>
</ul>

<ul>
  <% @state.cities.each do |city| -%>
    <li><%= link_to city.name, city %></li>
  <% end %>
</ul>