<% if @federal -%>
  <h1>
    <%= @federal.name %>
  </h1>
  <%= render 'partials/municipality_chart', municipality: @federal %>
  <%= render 'partials/municipality_list', municipalities: @federal&.states %>
<% end -%>